@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$primaryFont: 'Montserrat',
sans-serif;
$primaryFontColor: rgb(0, 0, 0);
$secondaryFontColor: green;

@mixin flexCenter {
    display: flex;
    align-items: center;
}

* {
    margin: 0;
    font-family: $primaryFont;
    color: $primaryFontColor;
}

.navbar {
    @include flexCenter();
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;

    h1 {
        color: $secondaryFontColor
    }

    .links {
        margin-left: auto;
    }

    a {
        margin-left: 16px;
        text-decoration: none;
        padding: 6px;

        &:hover {
            color: #f1356d;
        }
    }


}

.content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}

.blog-preview {
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;

    &:hover {
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
    }

    h2 {
        font-size: 20px;
        color: #f1356d;
        margin-bottom: 8px;
    }
}